apiVersion: v1
kind: ConfigMap
metadata:
  name: kiali
  namespace: istio-system
  labels:
    app: kiali
    app.kubernetes.io/name: kiali
    app.kubernetes.io/part-of: kiali
data:
  config.yaml: |
    auth:
      strategy: anonymous
    deployment:
      accessible_namespaces:
      - '**'
      namespace: istio-system
      pod_labels:
        sidecar.istio.io/inject: "false"
      replicas: 1
      view_only_mode: false
    external_services:
      custom_dashboards:
        enabled: true
      istio:
        root_namespace: istio-system
        config_map_name: ""
        istiod_deployment_name: ""
        istiod_pod_monitoring_port: 0
        istio_sidecar_injector_config_map_name: ""
        url_service_version: ""
        # For Cloud Service Mesh (managed Istio) - disable istiod proxy
        istiod_pod_proxy_enabled: false
        component_status:
          enabled: false
      prometheus:
        url: http://prometheus.istio-system:9090
    health_config:
      rate: []
    istio_namespace: istio-system
    kiali_feature_flags:
      certificates_information_indicators:
        enabled: false
      clustering:
        enabled: false
      disabled_features: []
      validations:
        skip_wildcard_gateway_hosts: true
        ignore:
        - KIA1301
    login_token:
      signing_key: CHANGEME00000000
    server:
      metrics_enabled: true
      metrics_port: 9090
      port: 20001
      web_root: /kiali
